@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --background-color: #191919;

    &.dark {
        --background-color: #191919;
    }
}

form {
    @apply m-0 p-0;
}

body {
    @apply bg-white dark:bg-[var(--background-color)] text-black dark:text-white;
}

h1 {
    @apply text-4xl font-bold;
}


.container {
    @apply my-0 px-2 2xl:px-0 w-full max-w-7xl mx-auto;

    .container__content {
        @apply py-4 px-4 sm:px-8;
    }
}

.footer {
    @apply text-center text-sm;

    .container__content {
        @apply py-2 md:py-4 lg:py-8 px-10;
    }
}

main.container {
    @apply mt-28;
}

.gallery-images {
    @apply grid grid-cols-4 flex-wrap gap-2 rounded-2xl mx-auto;
    counter-reset: grid-item-counter;
}

.gallery-image {
    counter-increment: grid-item-counter;
    @apply bg-white overflow-hidden relative z-0 aspect-square;
    @apply col-span-2 md:col-span-1;

    img {
        @apply object-cover aspect-[1/1];
        @apply w-full;
    }

    &.gallery-image--sm {
        @apply flex-[20%];
    }
}

.gallery-title {
    @apply text-center text-sm font-bold w-full absolute bottom-0 ;

    > * {
        @apply bg-black/50 text-white w-full mx-auto backdrop-blur px-1 py-2 md:px-2 md:py-2;
    }
}

